body{
    display: flex;
    background-color: #C0CEFF !important;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;
}

@font-face {
  font-family: PiecesOfEight;
  src: url(PiecesOfEight.ttf);
}

BootHead{
  font-family: PiecesOfEight;
  size: 0px;
  color:coral
}

table{
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
}


Snackheader{
    font-family: "Brush Script MT", "Lucida Handwriting", cursive;
    animation: color-change 0.25s infinite;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    justify-content: space-evenly;
  }
  
  @keyframes color-change {
    0% { color: red; }
    7% { color: orangered; }
    14% { color: orange; }
    21% {color: goldenrod;}
    28% {color: yellow;}
    35% {color: yellowgreen;}
    42% {color:greenyellow;}
    49% {color: green;}
    56% {color: teal;}
    63% {color: turquoise;}
    70% {color: blue;}
    77% {color: indigo;}
    84% {color: blueviolet;}
    91% {color: purple;}
    100% {color: red;}
  }

  .flex-container {
    display: flex;
    background-color: chartreuse;
    justify-content: center;
  }
  
  .flex-container > subnav {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: fuchsia;
    margin: 10px;
    padding: 20px;
    font-size: 20px;
  }
  .froge {
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 100px;
    border-radius: 50%;
    
    width: 250px;
    
    height: 250px;
    
    transition: 0.5s ease-in-out;
    
    }
    
    .froge:hover {
    
    transform: scale(5);
    
    }

    .billy{
      margin: auto;
      height: 300px;
      width: 500px;
      box-shadow: 20px;
    }